<div class="container">
  <%= render 'layouts/user_info' %>
  <div class="main-container">

    <%= render 'layouts/info_bar' %>


    <div class="repositories repositories-container">
      <div class="repositories-list">
        <% @repositories.each do |repository| %>
        <div class="repository-details repository-md">
          <h2 class="repo-name"> <%=link_to "#{repository.name}", repository.repo_url %></h2>
          <div class="repo-bottom-container">

            <p class="repo-language"> <%= repository.language %></p>
            <p class="last-updated"> <%= repository.last_updated  %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
