<div class="container">
  <%= render 'layouts/user_info' %>
  <div class="main-container">

    <%= render 'layouts/info_bar' %>


    <div class="repositories repositories-container">
      <ul class="repositories-list">
        <% @repositories.each do |repository| %>
        <div class="repository-details">
          <li class="repo-name"> <%=link_to "#{repository.name}", repository.repo_url %></li>
          <li class="repo-language"> <%= repository.language %></li>
          <li class="last-updated"> <%= repository.last_updated  %></li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
