<div class="profile_picture">
  <%= image_tag @github_user.picture, alt: "#{@github_user.username}'s profile picture" unless @github_user.picture.blank? %>
</div>

<div class="user_info">
  <div class="repositories">
    <p>Repositories <%= @github_user.repository_count %></p>
  </div>
  <div class="starred_repos">
    <p>Starred <%= @github_user.starred_repo_count %></p>
  </div>
  <div class="followers">
    <p>Followers <%= @github_user.number_of_followers %></p>
  </div>
  <div class="following">
    <p>Following <%= @github_user.following_other_users_count %></p>
  </div>
</div>
