<div class="container">
  <%= render 'layouts/user_info' %>
  <div class="main-container">

    <%= render 'layouts/info_bar' %>

    <div class="starred-repos starred-repos-container">
      <div class="repositories-list">
        <% @starred_repos.each do |repository| %>
        <div class="repository-details">
          <h2 class="repo-name"> <%= link_to "#{repository.full_name}", repository.repo_url %></h2>
          <h5 class="repo-description"> <%= repository.description %></h5>
          <p class="repo-language"> <%= repository.language %></p>
          <p class="last-updated"> <%= repository.last_updated  %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
